@media (max-width: 768px) {
    .column-mobile {
        flex-direction: column;
    }
    .no-gap-mobile {
        gap: 0;
    }

    #menuBurger {
        display: block;
    }
    #menuNav {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--glass-bg);
        padding: var(--space-medium);
    }
    #menuNav.ouvert {
        display: flex;
    }

    .projet-card {
        padding: 1rem;
    }
}
