/* ------------ Unset ------------ */
body,
ul,
li,
h1,
h2,
h3,
button,
p,
a,
nav {
    all: unset;
}

/* ------------ Root ------------ */
:root {
    --color-main: #2B2B4F;
    --color-second: #FF6F61;
    --color-black: #1E1E1E;
    --color-white: #F0F0F0;


    --border-radius: 10px;

}

/* ------------ Element de Base ------------ */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    font-family: 'coolvetica', sans-serif;
    cursor: auto;
}


h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
}

h2:hover::after {
    width: 100%;
    left: 0;
}

h3 {
    font-size: 2rem;
}

h4,
.text-important {
    font-size: 1.5rem;
    text-decoration: underline;
}

p {
    font-size: 1.2rem;
}

img {
    object-fit: cover;
}

button,
a {
    cursor: pointer;
}

header {
    height: 50px;
}

nav {
    box-sizing: border-box;
    position: fixed;
    right: 0;
    height: 50px;
}

.animation-hoverBarre {
    position: relative;
}

.animation-hoverBarre::after {
    content: "";
    position: absolute;
    /* Positionnement absolu par rapport au lien */
    left: 50%;
    /* Positionnement au centre */
    bottom: -2px;
    /* Ajuste la position de la barre sous le texte */
    height: 2px;
    /* Épaisseur de la barre */
    width: 0;
    /* Commence à une largeur de 0 */
    background-color: var(--color-second);
    /* Couleur de la barre */
    transition: width 0.3s ease, left 0.3s ease;
    /* Animation pour la largeur et la position */
}

.animation-hoverBarre:hover::after {
    width: 100%;
    /* S'étend à 100% sur le survol */
    left: 0;
    /* Aligne la barre à gauche */
}

/* ------------ Class ------------ */
/* Couleur */
.fond-main {
    background-color: var(--color-main);
}

.fond-second {
    background-color: var(--color-second);
}

.fond-white {
    background-color: var(--color-white);
}

.fond-black {
    background-color: var(--color-black);
}


/* Display flex */

.display-none {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;

}

.align-items-center {
    align-items: center;
}

.gap-small {
    gap: 1vh;
}

.gap-medium {
    gap: 2vh;
}

.gap-large {
    gap: 5vh;
}

/* Taille */
.width-100 {
    width: 100%;
}

.width-33 {
    width: 33%;
}

.width-50 {
    width: 50%;
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}

.height-screen {
    height: 100vh;
}

.min-height-screen {
    min-height: 100vh;
}

.height-80 {
    height: 80%;
}

.height-100 {
    height: 100%;
}

.padding-small {
    padding: 1%;
}

.padding-medium {
    padding: 5%;
}

.padding-large {
    padding: 10%;
}



.padding-no-top {
    padding-top: 0;
}

/* Border */
.border-second {
    border: var(--color-second) solid;
}

/* Border Radius */
.border-rond {
    border-radius: var(--border-radius);
}

.border-rond-no-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border-rond-no-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}




/* Texte */
.text-center {
    text-align: center;
}

.text-white {
    color: var(--color-white);
}

.text-main {
    color: var(--color-main);
}

.text-second {
    color: var(--color-second);
}


/* Autre */
.projets {
    min-width: 200px;
    min-height: 200px;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.icon-small {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.button {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: var(--border-radius);
    border: var(--color-black) solid 1px;
    padding: 2vh;
    transition: all 0.3s ease;
    text-align: center;

    /* z-index: 5; */
}

.button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: var(--color-white) solid 1px;
}


.button:active {
    color: var(--color-second);
    border: var(--color-second) solid 1px;
}

.button-icon:hover img {
    filter: invert(1); 
    
}

.animation-hautBas:hover {
    animation: hautBas 0.5s ease infinite;
}

.filtre-blanc {
    filter: grayscale(100%);
}

.filtre-blanc:hover {
    filter: grayscale(0%);
}


.centrer {
    margin-top: auto;
    margin-bottom: auto;
}

.overflow-scroll {
    overflow-y: auto;
}

.overflowX-scroll {
    overflow-x: auto;
}


.fleche-carrousel {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

/* ------------ ID ------------ */

/* index.php */

#acceuil,
#mainProjet {
    height: calc(100vh - 50px);
}

#acceuil .text-main {
    margin-top: auto;
    margin-bottom: auto;
}

#sous-titre {
    font-size: 2rem;
}

#listeCompetences {
    margin-top: auto;
    margin-bottom: auto;
}

#returnTop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 1%;
    right: 1%;
    transform : rotate(180deg);
}

#returnIndex:hover {
    animation : rotateIntoUp 1s linear infinite;
}

/* projet.php */

#contenuProjet{
    height: 70%;
}

#titreProjet {
    font-size: 3rem;
}


#diapo {
    position: relative;
}

#carrousel-precedent {
    left: 1%;
    transform: rotate(90deg);
}

#carrousel-suivant {
    right: 1%;
    transform: rotate(-90deg);
}

#carrousel-image {
    object-fit: contain;
}



/* ------------- Keyframe ------------- */

@keyframes hautBas {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes rotateIntoUp {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(360deg);
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: rotate(0deg);
    }
}


/* ------------- Media Queries ------------- */


@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4,
    .text-important {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }


    .column-mobile {
        flex-direction: column;
    }
    .width-70-mobile {
        width: 70%;
    }
    .width-100-mobile {
        width: 100%;
    }


    nav {
        padding: 0 !important;
    }

    #menuNav {
        display: none;
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: auto;
        font-size: 2rem;
        gap: 5vh;

        z-index: 10;

    }

    #menuBurger {
        box-sizing: border-box;
        display: block;
        z-index: 20;
    }


    #mainProjet{
        /* height: auto; */
        /* gap : 20px; */
    }

}

.navButton{
    width: 50px;
    font-size: 20px;
}





/* Splashscreen Style */
.splashscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    background: var(--color-main);
    z-index: 3;

    animation: splashScreen 2s cubic-bezier(0.80, 0, 1, 1) forwards;
}

/* Animation Keyframes */
@keyframes splashScreen {
    0% {
        transform: scale(0);
        border-radius: 50%;
    }
    45% {
        border-radius: 50%;
    }
    50% {
        border-radius: 0;
        transform: scale(1.2); 
    }
    75% {
        border-radius: 50%;
    }
    100% {
        transform: scale(0);
        border-radius: 50%;
        visibility: hidden;
    }
}
