.competence-0 {
    width: 150px;
    background: var(--color-black);
    padding: 10px;
    border-radius: var(--border-radius);
}

.competence-1 {
    width: 100%;
    background: var(--color-white);
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--color-black)
}

.competence-3 {
    width: 100%;
    background: var(--color-black);
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--color-white)
}