/* ------------ Unset ------------ */
body,
ul,
li,
h1,
h2,
h3,
button,
p,
a,
nav {
    all: unset;
}

/* ------------ Root ------------ */
:root {
    --color-main: #2B2B4F;
    --color-second: #FF6F61;
    --color-black: #1E1E1E;
    --color-white: #F0F0F0;
    --border-radius: 10px;
    --height-header: 50px;
}

/* ------------ Element de Base ------------ */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
    font-family: 'coolvetica', sans-serif;
    cursor: auto;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4,
.sous-titre {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

button,
a {
    cursor: pointer;
}

/* Header */
header {
    height: var(--height-header);
    position: absolute;
    top: 0;
    width: 100%;
}

.navButton {
    width: 50px;
    font-size: 20px;
}

/* ------------ Class ------------ */
.fond-main {
    background-color: var(--color-main);
}

.fond-second {
    background-color: var(--color-second);
}

.fond-white {
    background-color: var(--color-white);
}

.fond-black {
    background-color: var(--color-black);
}

/* Position */
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}

.right-50 {
    right: 50%;
}

/* Display flex */
.display-none {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.gap-medium {
    gap: 2vh;
}

.margin-auto {
    margin-top: auto;
    margin-bottom: auto;
}

/* Taille */
.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.width-content {
    width: fit-content;
}

.height-screen {
    height: 100vh;
}

.padding-small {
    padding: 1%;
}

/* Border */
.border-radius-top-left {
    border-top-left-radius: var(--border-radius);
}

.border-radius-top-right {
    border-top-right-radius: var(--border-radius);
}

.border-radius-bottom-left {
    border-bottom-left-radius: var(--border-radius);
}

.border-radius-bottom-right {
    border-bottom-right-radius: var(--border-radius);
}

/* Texte */
.text-center {
    text-align: center;
}

.text-color-main {
    color: var(--color-main);
}

.text-color-second {
    color: var(--color-second);
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* ------------ ID ------------ */

/* ------------- Animations ------------- */

.animation-hoverBarre {
    position: relative;
}

.animation-hoverBarre::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-color: var(--color-second);
    transition: width 0.3s ease, left 0.3s ease;
}

.animation-hoverBarre:hover::after {
    width: 100%;
    left: 0;
}

.animation-hautBas:hover {
    animation: hautBas 0.5s ease-in-out infinite;
}

@keyframes hautBas {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ------------- Media Queries ------------- */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4,
    .sous-titre {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    .column-mobile {
        flex-direction: column;
    }

    #menuNav {
        display: none;
        position: fixed;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: auto;
        font-size: 2rem;
        gap: 5vh;
        z-index: 10;
    }

    #menuBurger {
        box-sizing: border-box;
        display: block;
        z-index: 20;
    }
}